<div id="page">
    <div class="content">
        <div class="search-bar">
            <img src="../../../assets/search.svg" alt="Search">
            <input [formControl]="searchControl">
        </div>
        <div class="albuns">
            <div *ngFor="let album of albuns" class="album">
                <img src="{{album.urlImagem}}" alt="Imagem do Album {{album.nome}}" class="album-image">
                <div class="hide">
                    <div class="album-data">
                        <p class="album-name">{{album.nome}}</p>
                        <p class="album-artist">{{album.artistas[0]}}</p>
                        <p class="album-date">{{album.dataDeLancamento}}</p>
                    </div>
                    <button (click)="salvarAlbum(album)" class="add-button">Adicionar</button>
                </div>
            </div>
        </div>
        <div class="database-albuns">
            <div *ngFor="let databaseAlbum of databaseAlbuns$ | async" class="database-album">
                <p>{{databaseAlbum.nome}}</p>
            </div>
        </div>
        
    </div>
</div>
