<div id="page">
    <div class="content">
        <div class="search-bar">
            <img src="../../../assets/search.svg" alt="Search">
            <input [formControl]="searchControl">
        </div>
        <div class="albuns">
            <div *ngFor="let album of albuns" class="album">
                <div class="album-data">
                    <img src="{{album.urlImagem}}" alt="Imagem do Album {{album.nome}}" class="album-image">
                    <div class="album-text">
                        <p class="album-name">{{album.nome}}</p>
                        <p class="album-artist">{{album.artistas[0]}}</p>
                        <p class="album-date">{{album.dataDeLancamento}}</p>
                    </div>
                </div>
                <button (click)="salvarAlbum(album)" class="add-button">Salvar</button>
            </div>
        </div>
        <div class="database-filter">
            <p>Álbuns</p>
            <mat-form-field>
                <mat-select [(value)]="selectedFilter">
                    <mat-option *ngFor="let filter of filters" [value]="filter.type">{{filter.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div class="database-albuns">
            <div *ngFor="let recipient of albunsAgrupados | keyvalue" class="grouped-albuns">
                <p>{{recipient.key}}</p>
                <div class="group-by">
                    <div *ngFor="let databaseAlbum of recipient.value" class="database-wrapper">
                        <img src="{{databaseAlbum.urlImagem}}" alt="Imagem do Album {{databaseAlbum.nome}}"
                            class="database-album">
                        <div class="rating">
                            <div class="emoticon">{{ getEmoticon(databaseAlbum.nota) }}</div>
                            <p>{{databaseAlbum.nota}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>